/* Global styles */
body 
{
    font-family: 'Arial', sans-serif;
}

/* Container styles */
.container 
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Logo styles */
.logo 
{
    margin-bottom: 20px;
}

.logo-image 
{
    width: 600px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Square styles */
.square 
{
    background-color: rgba(4,80,124,255);
    border: 2px solid #ccc;
    padding: 20px;
    width: 500px;
    text-align: center;
    color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.square h1 
{
    font-size: 24px;
    margin-bottom: 20px;
}

/* Form styles */
.form-group 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.form-label
{
    display: inline;
    font-size: 16px;
    font-weight: bold;
}

.form-input 
{
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: none;
    outline: none;
    display: block;
    text-align: center;
}

/* Button styles */
.btn-submit 
{
    color: rgba(4,80,124,255);
    background-color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-submit:hover 
{
    background-color: rgba(4,80,124,255);
}

/* Result styles */
.result 
{
    margin-top: 20px;
}

.result h2 
{
    font-size: 18px;
    margin-bottom: 10px;
}

.result span 
{
    font-weight: bold;
}
