.container 
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.square 
{
    background-color: rgba(4,80,124,255);
    border: 2px solid #ccc;
    padding: 20px;
    width: 500px;
    text-align: center;
    color: white;
}

h1 
{
    margin-bottom: 20px;
}

.logo img
{
    width: 200px;
    margin-bottom: 20px;
}